<%= form_with(model: @tweet, url: tweets_path, local: true) do |f| %>

<div class="form-wrap">

    <div class="field">
      <%= f.label :image, "グルメ画像を選択してください"%><br />
      <%= f.file_field :image, id: "message-image" %>
    </div>
    <div id="image-list"></div>

    <div class="field">
      <%= f.label :message,  "メッセージ" %><br />
      <%= f.text_area :message, class:"form-text" %>
    </div>

    <div class="tag-field", id='tag-field'>
      <%= f.label :name, "タグ" %><br />
      <%= f.text_field :name, value: @tag_list, class:"form-text" %>
    </div>

    <div id="search-result">
    </div>

  <div class="actions">
    <%= f.submit "送信する", class: "form-btn" %>
  </div>

</div>

<% end %>