<%= form_with(model: @tweet, local: true) do |f| %>

<div class="form-wrap">

    <div class="field">
      <%= f.label :image, "グルメ画像を選択してください"%><br />
      <%= f.file_field :image, id: "message-image" %>
    </div>
    <div id="image-list"></div>

    <div class="field">
      <p>コメントを入力してください</p>
      <%= f.text_area :message, class:"form-text"%>
    </div>

    <div class="field">
      <p>タグを入力してください</p>
      <%= f.text_field :hashname, class:"form-text", id:'tag-field' %>

    <div id="search-result">
    </div>

  <div class="actions">
    <%= f.submit "送信する", class: "form-btn" %>
  </div>
</div>
<% end %>