<%= render "shared/header"%>
<div class="main">
  <div class="top">
      <h2 class="page-heading">投稿詳細</h2>

        <div class="tweet-manage">
          <%= link_to "編集する", edit_tweet_path(@tweet.id), class: "tweet-btn" %>
          <%= link_to "削除する", tweet_path(@tweet.id),method: :delete, class: "tweet-btn" %>
        </div>
        
    <div class="card">
      <div class="card-image">
        <%= link_to image_tag(@tweet.image), tweet_path(@tweet.id) if @tweet.image.attached? %>
      </div>
      <p class="card-summary"> 
      <%= @tweet.message %>
      </p>
        <ul class="tag">
          <li class="tag-list">
            <%= render_with_tags(@tweet.hashname) %>
          </li>
        </ul>
    </div>
    </div>
  </div>
</div>
<%= render "shared/footer" %>
