<div class="main">
    <div class="tweet-wrapper">
      <div class="tweet-image">
        <%= image_tag @tweet.image %>
      </div>
      <div class="tweet-body">
        <div class="tweet-detail">
          <p class="detail-message">
            <%= @tweet.message %>
          </p>
        </div>
        <div class="tweet-detail">
          <p class="detail-message">
            <% @tweet.tags.each do |tag| %>
              #<%=tag.name%>
            <%end%>
          </p>
        </div>
      </div>
              <div class="tweet-manage">
               <%= link_to "編集する", edit_tweet_path(@tweet.id), class: "tweet-btn" %>
               <%= link_to "削除する", tweet_path(@tweet.id),method: :delete, class: "tweet-btn" %>
              </div>
    </div>
</div>
