<header class="header">

  <div class ="nav">
      <ul class="nav-left">
           <li><%= link_to image_tag("restaurant-icon.png", class: "header-logo"), "/" %></li>
      </ul>

      <ul class="nav-right">
        <% if user_signed_in? %>
          <li><%= link_to "投稿する", new_tweet_path, class: "post-btn" %></li>
          <li><%= link_to "マイページ", "/users/#{current_user.id}", class: "post-btn" %></li>
          <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "post-btn" %></li>
        <% else %>
          <li><%= link_to 'ログイン', new_user_session_path, class: "post-btn" %></li>
          <li><%= link_to '新規登録', new_user_registration_path, class: "post-btn" %></li>
        <% end %> 
      </ul>

  </div>
</header>