
  <div class='title-contents'>
    <h2 class='service-title'>
      Meshitero
    </h2>
    <p class='service-explain'>
      1枚の画像で、レストランの魅力をPRしてみませんか？
    </p>
    <p class='service-explain'>
      1枚の画像から、レストランを探してみませんか？
    </p>
  </div>

<div class='select-reason-contents'>
    <h2 class='title'>
      Meshiteroの使い方
    </h2>

    <div class='how-to-use'>
    <ul class="use-lists">
      <li class="use-list"><%= image_tag "flogo.png", class:"logo-pict"%><p>ユーザー登録をしよう</p><%= link_to '<ユーザー新規登録はこちら>', new_user_registration_path, class:"link" %></li>
      <li class="use-list"><%= image_tag "flogo.png", class:"logo-pict"%><p>グルメの画像を投稿してみよう</p><%= link_to '<新規投稿はこちら>', new_tweet_path, class:"link" %></li>
      <li class="use-list"><%= image_tag "flogo.png", class:"logo-pict"%><p>タグをクリックすると同じタグがついた投稿一覧が表示されます</p></li>
    </ul>
    </div>
  

  <ul class="reason-lists">
      <li class='list'>
        <%= image_tag "header2_01.jpg", class:"list-pict" %>
        <h3 class='reason-list-text'>
          <span class='reason-list-blue-text'>レストランで働くあなたへ</span>
        </h3>
        <p class='reason-list-description'>
          自分のお店の自慢の料理を投稿して、お店をPRしよう！
        </p>
      </li>
      <li class='list'>
        <%= image_tag "header2_02.jpg", class:"list-pict" %>
        <h3 class='reason-list-text'>
          <span class='reason-list-blue-text'>グルメ好きなあなたへ</span>
        </h3>
        <p class='reason-list-description'>
          大好きなレストランの画像を投稿して、みんなにおすすめしよう！
        </p>
      </li>
    </ul>
  </div>
