<%= render "shared/header"%>

<div class="main">
  <div  class="top">
    <div class="form-wrapper">
      <h2 class="page-heading">ログイン</h2>
        
    <%= form_with model: @user, url: user_session_path, local: true do |f| %>
      
    <div class="form-wrap">

    <div class="field">
      <%= f.label :email, "メールアドレスを入力してください" %><br />
      <%= f.email_field :email, class: "form-text" %>
    </div>

    <div class="field">
      <%= f.label :password, "パスワードを入力してください" %><br />
      <%= f.password_field :password, class: "form-text" %>
    </div>

     <div class="actions">
       <%= f.submit "ログインする", class: "form-btn" %>
     </div>

    </div>
    <% end %>

    </div>
  </div>
</div>

<%#= render "devise/shared/links" %>
<%= render "shared/footer" %>
