<!DOCTYPE html>
<html>
  <head>
    <title>Meshitero</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

<header class="header">
    <div class="inner">
      <div class="nav">
        <div class="nav-left">
          <%= link_to "Meshitero.", root_path, class: "logo" %>
        </div>

      <div class='nav-right'>
        <%#= link_to "ログアウト", destroy_user_session_path, class: "nav-logout", method: :delete %>
        <%= link_to "投稿する", new_tweet_path, class:"post-btn"%>

       </div>
      </div>
    </div>
</header>

    <%= yield %>

  <div class="footer">
    <p class="copyright">Copyright © Meshitero All rights reserved.</p>
  </div>
  </body>
</html>
