<!DOCTYPE html>
<html>
  <head>
    <title>Meshitero</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

<header class="header">
  <div class ="nav">
      <div class="nav-left">
           <h1 class="grid-6"><a href="/">Meshitero</a></h1>
      </div>

      <div class="nav-right">
          <%= link_to "投稿する", new_tweet_path, class: "post-btn" %>
      </div>

  </div>
</header>
<div class="main">
    <%= yield %>
</div>
  <div class="footer">
    <p class="copyright">Copyright © Meshitero All rights reserved.</p>
  </div>
  </body>
</html>
